doctype html
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="css/style_declarationPaiementsAnnuel.css")
    title Calendrier Hebdomadaire

  body
    div
      // Menu d'accueil
      form(action='/documents' method='get')
        button#retourMenuPrincipal(type='submit') Documents
      br
      // Formulaire pour le paiement
      form(action="/declarationPaiementsAnnuel" method="post")
  
        h2 Paiements annuel 
        hr(style="width: 100%; border: 1px solid #000; margin: 20px 0;")
        ul
          li
            .form-row-nom-prenom
              label(for='montantChambreSyndicale') Montant chambre syndicale&nbsp;:
              input(type='number' id='montantChambreSyndicale' name='montantChambreSyndicale' required)
              span € 
            .form-row-nom-prenom
              label(for='montantResalib') Montant Resalib&nbsp;:
              input(type='number' id='montantResalib' name='montantResalib' required)
              span €
            .form-row-nom-prenom
              label(for='montantAssurancePro') Montant assurance pro&nbsp;:
              input(type='number' id='montantAssurancePro' name='montantAssurancePro' required)
              span €  
            .form-row-nom-prenom
                  label(for='dateMaj') Date de paiement&nbsp;:
                  input(type='date' id='dateMaj' name='dateMaj' required)    
            button(class = "submit" type='submit') Soumettre            


    footer
      p &copy; Sophrologic 2024. Tous droits réservés.
