doctype html
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="css/style_planning.css")
    title Calendrier Hebdomadaire

  body
  
    //- Navigation des semaines
    div
      form(action='/' method='get')
        button#retourMenuPrincipal Menu d'acceuil 
    .week-navigation
      button#prev-week &laquo; Semaine précédente
      button#next-week Semaine suivante &raquo; 
    //- Calendrier hebdomadaire
    .calendar
      each day, index in ["Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi", "Dimanche"]
        .day
          h3 #{day} 
          .date
          .patient-list
            br 
            if day == "Lundi" 
              .patient-item
                span John Doe
                .patient-buttons
                  button Modifier
                  button Supprimer
          button.add-patient Ajouter un client
    footer
      br
      p &copy; Sophrologic 2024. Tous droits réservés.
      br       
    script(src="js/script_calendrier.js")
    //- script.
    //-   const days = document.querySelectorAll('.day');
    //-   const currentDate = new Date();
    //-   let currentWeekStartDate = new Date(currentDate.setDate(currentDate.getDate() - currentDate.getDay() + 1));

    //-   function updateCalendarDates() {
    //-     let date = new Date(currentWeekStartDate);

    //-     days.forEach(day => {
    //-       const dateElement = day.querySelector('.date');
    //-       dateElement.textContent = date.toLocaleDateString('fr-FR', { year: 'numeric', month: '2-digit', day: '2-digit' });
    //-       date.setDate(date.getDate() + 1);
    //-     });
    //-   }

    //-   document.getElementById('prev-week').addEventListener('click', () => {
    //-     currentWeekStartDate.setDate(currentWeekStartDate.getDate() - 7);
    //-     updateCalendarDates();
    //-   });

    //-   document.getElementById('next-week').addEventListener('click', () => {
    //-     currentWeekStartDate.setDate(currentWeekStartDate.getDate() + 7);
    //-     updateCalendarDates();
    //-   });

    //-   updateCalendarDates();
