/* Styles de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f3f4f6;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    text-align: center;
}

/* Header */
header {
    margin-bottom: 20px;
}

header h1 {
    font-size: 2rem;
    color: #333;
}

/* Boutons principaux */
.buttons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.button {
    display: flex;               /* Active Flexbox */
    justify-content: center;      /* Centre horizontalement */
    align-items: center;          /* Centre verticalement */
    width: 200px;
    height: 100px;                /* Hauteur ajustable */
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    transition: transform 0.2s ease;
}

.button:hover {
    transform: scale(1.05);
}

/* Couleurs distinctes pour chaque fonctionnalité */
.comptabilite {
    background-color: #4CAF50;
}

.planning {
    background-color: #2196F3;
}

.suivi {
    background-color: #FF9800;
}

.nouveauPatient {
    background-color: #ff00dd;
}

.boiteOutils {
    background-color: #ff0000;
}

.patients {
    background-color: #00c8ff;
}

p {
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    
}

/* Responsive Design */
@media (min-width: 601px) {
    /* Styles spécifiques à la version PC */
}

@media (max-width: 600px) {
    .button {
        width: 75%;
    }
    
    header h1 {
        font-size: 1.5rem;
    }
}
